/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');

/* DEFAULT */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    background: linear-gradient(to right, rgba(151, 191, 224, 0.808), rgba(136, 134, 214, 0.808));
}

/* HEADER AREA */
.header{
    display: flex;
    justify-content: space-between;
    height: 9vh;
}

/* HEADER AREA > LOGO */
.logo{
    display: flex;
    align-items: center;
    padding: 2px;
    margin-left: 5%;
}
.logo > a{
    color: rgb(92, 68, 248);
    font-family: 'Comfortaa', 'cursive';
    font-weight: 600;
    font-size: 2rem;
}
a{
    text-decoration: none;
}

/* HEADER AREA > NAVIGATION */
.navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 7%;
    width: 21%;
    align-items: center;
}
svg{
    display: inline-flex;
    align-items: center;
    margin-bottom: -2.5px;
    margin-right: 4px;
}
.navigation > li{
    padding: 3px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgba(151, 191, 224, 0.808);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.navigation > li > a:hover{
    color: white;
}
.navigation > li:hover{
    background-color: rgb(248, 90, 90);
    box-shadow: none;
}

@media only screen and (max-width: 750px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        height: 12vh;
    }
    
    /* HEADER AREA > LOGO */
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        margin-top: 2vh;
        padding-bottom: 2vh;
        margin-left: 0;
        margin-right: 0;
    }
    .logo > a{
        color: rgb(92, 68, 248);
        font-family: 'Comfortaa', 'cursive';
        font-weight: 600;
        font-size: 2rem;
        
    }
    a{
        text-decoration: none;
    }
    
    /* HEADER AREA > NAVIGATION */
    .navigation{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-right: 0;
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
        align-items: center;
    }
    svg{
        display: inline-flex;
        align-items: center;
        margin-bottom: -2.5px;
        margin-right: 0;
    }
    .navigation > li{
        padding: 3px 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background-color: rgba(151, 191, 224, 0.808);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    }
    .navigation > li > a:hover{
        color: white;
    }
    .navigation > li:hover{
        background-color: rgb(248, 90, 90);
        box-shadow: none;
    }

}

/* CALCULATOR CONTAINER AREA */
.calculator-container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator{
    background-color: rgba(151, 191, 224, 0.808);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    height: 60vh;
    margin-left: 5%;
    border-radius: 50px;
}
.calc-header{
    background-color: rgba(128, 186, 233, 0.808);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    width: 100%;
    height: 8vh;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    align-items: center;
    justify-content: center;
}

.date{
    /* background-color: lawngreen; */
    display: flex;
    list-style-type: none;
    height: 3rem;
    margin-right: 10vw;
    margin-top: 5vh;
    justify-content: end;
    align-items: center;
}
.date > li{
    /* background-color: lightblue; */
    font-family: sans-serif;
    font-size: 1.8rem;
    margin-right: 8%;
    transform: translateX(-30%);
}
.date > li > input{
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
}
.calculate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.calculate > button{
    cursor: pointer;
    border-radius: 20px;
    font-size: 2rem;
    padding: 3px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(115, 181, 235, 0.808);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.calculate > button:hover{
    background-color: rgb(248, 90, 90);
    box-shadow: none;
    color: white;
}

.result-container{
    width: 25%;
    height: 80vh;
    margin-right: 2.5%;
    background-color: rgba(151, 191, 224, 0.808);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
}
.belowheader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
.result{
    font-family: "Yanone Kaffeesatz";
    font-size: 1.5rem;
}


@media only screen and (max-width: 750px){
    .calculator-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .calculator{
        display: flex;
        flex-direction: column;
        background-color: rgba(151, 191, 224, 0.808);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
        width: 90%;
        height: auto;
        min-height: 60vh;
        margin-left: 0;
        border-radius: 50px;
        margin-top: 7vh;
        align-items: center;
        padding-bottom: 2vh;        
    }
    .calc-header{
        background-color: rgba(128, 186, 233, 0.808);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        width: 100%;
        height: 10vh;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        justify-content: center;
        align-items: center;
    }
    .calc-header > h2{
        text-align: center;
        font-size: medium;
        margin: 40px;
    }

    .date{
        /* background-color: lawngreen; */
        display: flex;
        flex-direction: column;
        list-style-type: none;
        height: 5rem;
        margin-top: 5vh;
        justify-content: center;
        align-items: center;
    }
    .date > li{
        /* background-color: lightblue; */
        font-family: sans-serif;
        font-size: 1.8rem;
        margin-right: 0;
        transform: translateX(0);
    }
    .date > li > input{
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .calculate{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
    }
    .calculate > button{
        cursor: pointer;
        border-radius: 20px;
        font-size: 2rem;
        padding: 3px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: rgba(115, 181, 235, 0.808);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
        
    }
    .calculate > button:hover{
        background-color: rgb(248, 90, 90);
        box-shadow: none;
        color: white;
    }
    
    .result-container{
        margin-top: 2vh;
        width: 90%;
        height: auto;
        margin-right: 0;
        background-color: rgba(151, 191, 224, 0.808);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
        border-radius: 50px;
    }
    .belowheader{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4vh;
        margin-top: 2vh;
    }
    .result{
        font-family: "Yanone Kaffeesatz";
        font-size: 1.5rem;
        text-align: center;
    }

    .result-container > .calc-header{
        height: 5vh;
    }

    
}
